## 08 Pandas Assignment
Let's explore the power of Pandas!
Documentation on installation here: https://pandas.pydata.org/docs/getting_started/index.html#installation

Getting started here: https://pandas.pydata.org/docs/user_guide/10min.html

In [4]:
#Load the library from your local machine (hint: use Anaconda distribution or see documentation)

import pandas as pd

### 1 (5 points) Create a Series
Name it "My_First_Series" and have it hold your 5 favorite numbers

In [ ]:
#Your Answer Goes here

### 2 (5 points) Create a Dataframe
Create a custom dataframe called "My_Favorite_Movies" that uses a dictionary and a list. For the key, include the name of your favorite 2 movies. For the pair (list) include your three favorite characters and the year the movie came out. Finally, set your index for characters and year of release.
Hint: You should have two columns and four rows with row titles (index)

In [5]:
# Your Answer Goes Here

### 3 (5 points) Loading a Dataset
Load the Titanic .csv file and return the last five rows using a Pandas method. (Data Dictionary can be found here: https://www.kaggle.com/c/titanic/data). Note the Titanic.csv file can be found on Moodle under Week 8 and in the Github folder.

In [ ]:
# Your Answer Goes Here

### 4 (5 points) Exploring Your Dataset
Let's see what our dataset looks like with some basic exploratory methods. Return the number of rows and columns, describe the data using your new favorite Pandas methods

In [ ]:
# Your Answer Goes Here

### 5 (5 points) Analyzing Your Dataset
Using our .iloc method, calculate the average age of the first 400 passengers

In [6]:
# Your Answer Goes Here (Hint: you should see an average of ~28.6 years)

### 6 (5 points) Analyzing Your Dataset
Create a Dataframe called Survivor_age that includes just the ages and fares using the .loc method.

In [9]:
# Your Answer Goes Here

### 7 (15 points) Analyzing Your Dataset
Create a new DataFrame called lower_survivors which include all 2nd and 3rd class passengers who survived and departed from Cherbourg. (Hint: you should see 34 survivors - verify this with your favorite Pandas method)

In [13]:
# Your Answer Goes Here

### 8 (15 points)  Analyzing Your Dataset
Using the groupby method, let's see the count survival rates for those over 55 by Sex and Class

In [14]:
# Your Answer Goes Here

### 9 (15 points) Lambda Functions
As we saw, lambda functions are handy bite size functions that can be inserted inline or called from existing custom functions. One of the best uses with Pandas is for encoding data. 

Let's write a function to encode the ports passengers embarked from into their full names and create a new column to hold this data. (C = Cherbourg, Q = Queenstown, S = Southampton)

In [ ]:
# Your Answer Goes Here

### (25 points) Making Data from Data
Let's say we want to look at the cost of a ticket today and compute a senior citizen of 30% off for those over 45 (hey, it was 1912!) and departing from Southampton.

1. Create a DataFrame called senior_citizen that holds the conditionals mentioned above
2. Write a lambda function to apply a 30% discount to each Fare row and create a new column caled "Discount"
3. Compute the mean for this new "Discount" column (Hint: should come in at ~24.34)
4. Plot the Discount column (Hint: use the handy pd.value_counts operator)

In [ ]:
# Your Answer Goes Here